.wrapper {
     display: flex;
     margin-left: -20px;
     border-radius: 0 0 26px 26px;
     overflow: hidden;
     flex: 1;

     width: calc(100% + 20px);

     overflow-y: scroll;
     margin-top: 66px;
     padding: 20px 0 0 15px;
     background-color: #f9f9f9f9;

     scrollbar-width: none; /* Firefox */
     -ms-overflow-style: none;

     scroll-behavior: smooth;
}

.wrapper::-webkit-scrollbar {
     display: none; /* Safari and Chrome */
}

.table_wrapper {
     display: flex;
     align-items: start;
     overflow: auto;
     padding-left: 20px;
}

