.wrapper {
     min-width: 320px;
     max-width: 31vw;
     background: rgb(53, 53, 53, 0.1);
     backdrop-filter: blur(5px);
}

.wrapper > div{
     background: rgb(53, 53, 53, 0.1);
     backdrop-filter: blur(15px);
}
