.wrapper {
    display: flex;
    flex-direction: column;
     width: 100%;
     height: calc(100% - 20px);
     margin: 10px 10px 10px 0;
     padding: 66px 0 0 20px;
     border-radius: 26px;
     background: #fff;
}
