.wrapper {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     height: 100%;
     width: 50%;

     background: transparent;

     border: none;

     transition: .5s;
}

.wrapper:hover{
     background: var(--light_grey);
}
