* {
     margin: 0;
     padding: 0;

     box-sizing: border-box;

     font-family: "Inter", sans-serif;
}

:root{
     --light_grey: #f3f3f3
}

button {
     border: none;
     outline: none;

     cursor: pointer;
}
